# This is the AAP enterprise installer inventory file
# Please consult the docs if you're unsure what to add
# For all optional variables please consult the included README.md
# or the Red Hat documentation:
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation

{% if groups['controller'] is defined and groups['controller'] | length > 0 %}
[automationcontroller]
{% for controller in groups['controller'] %}
{{ controller }} ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{% endfor %}
{% endif %}

{% if groups['execution_nodes'] is defined and groups['execution_nodes'] | length > 0 %}
[execution_nodes]
{% for exec_node in groups['execution_nodes'] %}
{{ exec_node }} node_type=execution ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{% endfor %}
{% endif %}

{% if groups['hub'] is defined and groups['hub'] | length > 0 %}
[automationhub]
{% for hub in groups['hub'] %}
{{ hub }} ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{% endfor %}
{% endif %}

{% if groups['eda'] is defined and groups['eda'] | length > 0 %}
[automationedacontroller]
{% for eda in groups['eda'] %}
{{ eda }} ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{% endfor %}
{% endif %}

{% if groups['gateway'] is defined and groups['gateway'] | length > 0 %}
[automationgateway]
{% for gateway in groups['gateway'] %}
{{ gateway }} ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{% endfor %}
{% endif %}

{% if groups['database'] is defined and groups['database'] | length > 0 %}
[database]
{% for database in groups['database'] %}
{{ database }} ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{% endfor %}
{% endif %}

[all:vars]

# Common variables
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-general-inventory-variables
# -----------------------------------------------------
postgresql_admin_username=postgres
postgresql_admin_password=redhat
registry_username={{ rhsm_user }}
registry_password={{ rhsm_password }}
redis_mode=standalone

# If using the online (non-bundled) installer, you need to set RHN registry credentials

# AAP Gateway
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-gateway-variables
# -----------------------------------------------------
gateway_admin_password=redhat
gateway_pg_host={{ groups['database'][0] }}
gateway_pg_port=5432
gateway_pg_database=automationgateway
gateway_pg_username=automationgateway
gateway_pg_password=redhat


# AAP Controller
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-controller-variables
# -----------------------------------------------------
controller_admin_password=redhat
controller_pg_host={{ groups['database'][0] }}
controller_pg_port=5432
controller_pg_password=redhat
controller_pg_database=automationcontroller
controller_pg_username=automationcontroller

# AAP Automation Hub
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#ref-hub-variables
# -----------------------------------------------------
hub_admin_password=redhat
hub_pg_host={{ groups['database'][0] }}
hub_pg_port=5432
hub_pg_database=automationhub
hub_pg_username=automationhub
hub_pg_password=redhat


# AAP EDA Controller
# https://docs.redhat.com/en/documentation/red_hat_ansible_automation_platform/2.5/html/containerized_installation/appendix-inventory-files-vars#event-driven-ansible-controller
# -----------------------------------------------------
eda_admin_password=redhat
eda_pg_host={{ groups['database'][0] }}
eda_pg_port=5432
eda_pg_database=automationedacontroller
eda_pg_username=automationedacontroller
eda_pg_password=redhat

{% if aap_configure_ssl %}
# SSL-related variables
# If set, this will use a custom CA certificate to sign the certificate for all services

ca_tls_cert=/opt/ansible-automation-platform/installer/{{ aap_ca_cert }}
ca_tls_key=/opt/ansible-automation-platform/installer/{{ aap_ca_key }}

{% endif %}

{% if aap_configure_content_signing %}
hub_collection_signing=true
hub_container_signing=true
hub_collection_signing_key = /opt/ansible-automation-platform/installer/{{ aap_content_signing_key }}
hub_container_signing_key = /opt/ansible-automation-platform/installer/{{ aap_content_signing_key }}
{% endif %}
